/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  text-align: center;
}

/* Section Styles */

h1.title {
  font-size: 72pt;
  font-family: "Luckiest Guy";
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121,
    0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121,
    6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121,
    -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121,
    0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3),
    0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25),
    0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
}

h2.title {
  font-size: 44pt;
  font-family: "Luckiest Guy";
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121,
    0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121,
    6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121,
    -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121,
    0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3),
    0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25),
    0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
}

/* Custom navbar */
.custom-navbar {
  background-color: #7c5c7d !important;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.navbar-nav .nav-link {
  font-weight: bolder; /* Default font weight */
  font-size: large;
  background-color: transparent; /* Ensures no background before hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  border-radius: 15px; /* Rounded corners applied to the element */
  padding: 5px 10px; /* Padding to create the rounded effect */
}

.navbar-nav .nav-link:hover {
  background-color: black; /* Background color on hover */
  color: white; /* Text color on hover */
  font-weight: bold; /* Bold text on hover */
}

.nav-link.active {
  background-color: black; /* Background color on hover */
  color: white !important; /* Text color on hover */
  font-weight: bold; /* Bold text on hover */
}

/* Animated text */
#animated-text {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0; /* Initial width to create typing effect */
}

/* Header Styles */
.header {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #7c5c7d;
  overflow: hidden; /* Ensures the wave is contained */
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.q-text{
  text-wrap: balance;
  font-size: 18pt;
}

.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #000;
  margin-bottom: 20px;
}

.header img.limo {
  width: 350px;
  height: auto;
  border-radius: 0%;
  border: none;
  margin-bottom: 20px;
}

.header img.limo-animated {
  width: 150px;
  height: auto;
  border-radius: 10%;
  border: 5px solid #000;
  margin-bottom: 20px;
}

.intro-text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
}

/* Wave SVG for Section */
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Content Section Below Header */
.content {
  padding: 40px 20px;
  background-color: #fff;
}

/* Social icons */

a{
  color: #000;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25D366;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #00f2ea;
  color: #ffffff;
}

@media (max-width: 575.98px) {
  .wrapper .icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  h2.title {
    font-size: 36pt;
  }

  .q-text{
    text-wrap: balance;
    font-size: 16pt;
  }
}